@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  body {
    cursor: none;
  }

  body:hover>#trailer {
    opacity: 1;
  }
}

.skillbackground {
  filter: blur(6px);
}

* {
  background-color: transparent;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background: rgba(250, 250, 250, 0.4);
  border-radius: 999px;
}